body {
    background-color: rgba(100, 100, 100, 1);
}

.home {
    display: flex;
    flex-direction: column;
}

.labnote-miniLogo {
    position: absolute;
    width: 234px;
    height: 120px;
    left: 400px;
    top: 24px;
    z-index: 2;
}

.user-icon {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 25px;
    top: 24px;
}

.go-out {
    position: absolute;
    left: 920px;
    top: 19px;
    z-index: 2;
}

.writenote-text {
    position: absolute;
    width: 498px;
    height: 171px;
    left: 260px;
    top: 453px;
}

.spotlight-img {
    position: absolute;
    left: 470px;
    top: 709px;
}

.containerFooter {
    position: absolute;
    width: 1024px;
    height: 136px;
    left: 0px;
    top: 1230px;
    background: #6E7375;
    mix-blend-mode: lighten;
    z-index: 2;
}

.add-new-note {
    position: absolute;
    left: 480px;
    top: 1251px;
    z-index: 2;
}

.menu {
    position: absolute;
    left: 31px;
    top: 1262px;
    z-index: 2;
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {}